.mobile__menu {
  position: fixed;
  right: 0;
  background: #fff;
  height: 100%;
  width: 90%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.1),
    inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
  transition: all 0.3s;

  ul {
    line-height: 3;
    border-bottom: 2px solid #777;
    margin-bottom: 30px;
    padding-bottom: 10px;

    a {
      font-size: 20px;
      text-transform: capitalize;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &--bottom {
    div {
      margin-top: 20px;

      a {
        display: flex;
        align-items: center;

        img {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}
