.navbar {
  height: auto;
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    &--logo img {
      height: 50px;
      width: 50px;

      // ipad screen
      @media (max-width: 768px) {
        height: 40px;
        width: 40px;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin: 0 15px;
        font-weight: bold;
      }

      // ipad screen
      @media (max-width: 768px) {
        display: none;
      }
    }

    &--left {
      text-transform: uppercase;
      flex-grow: 1;
      margin-left: 20px;

      a:hover {
        color: $color-primary;
      }
    }

    &--right {
      li:first-child a {
        display: flex;
        align-items: center;
      }

      li:nth-child(2) {
        margin: 0 5px;
      }

      img {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }

    .hamburger {
      position: relative;
      height: 24px;
      width: 24px;
      background: none;
      border: none;
      z-index: 1;
      transition: all 0.25s;
      display: none;

      // ipad screen
      @media (max-width: 768px) {
        display: block;
      }

      &__top,
      &__middle,
      &__bottom {
        position: absolute;
        top: 0;
        left: 0;

        background: #000;
        height: 2px;
        width: 24px;
        transform: rotate(0);
        transition: all 0.5s;
      }

      &__middle {
        transform: translateY(7px);
      }

      &__bottom {
        transform: translateY(14px);
      }
    }
  }
}

.open {
  .hamburger__top {
    transform: rotate(45deg) translateX(6px) translateY(6px);
  }

  .hamburger__middle {
    display: none;
  }

  .hamburger__bottom {
    transform: rotate(-45deg) translateX(-6px) translateY(6px);
  }
}
