@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
.bg-primary {
  background: #006241;
  color: #fff;
}

.bg-secondary {
  background: #d50032;
  color: #fff;
}

.bg-extra {
  background: #d4e9e2;
  color: #000;
}

.bg-dark {
  color: #000;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .text-xl {
    font-size: 30px;
  }
}

.text-lg {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .text-lg {
    font-size: 25px;
  }
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .text-md {
    font-size: 19px;
  }
}

.text-sm {
  font-size: 19x;
  margin-bottom: 20px;
}

/* Padding */
.py-sm {
  padding: 10px 0;
}

.py-md {
  padding: 20px 0;
}

.py-lg {
  padding: 40px 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #000;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background: none;
  border-radius: 50px;
  border: 1px solid #000;
  padding: 7px 18px;
  line-height: 1.2;
  text-transform: capitalize;
}

.btn-dark {
  background: #000;
  color: #fff;
}

.btn-dark:hover {
  background: #333;
}

.btn-dark-outline {
  border-color: #000;
  color: #000;
}

.btn-dark-outline:hover, .btn-light-outline:hover {
  background: rgba(0, 0, 0, 0.06);
}

.btn-light-outline {
  border-color: #fff;
  color: #fff;
}

section a {
  color: #fff;
}

.navbar {
  height: auto;
  width: 100%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.07);
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar__container--logo img {
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .navbar__container--logo img {
    height: 40px;
    width: 40px;
  }
}

.navbar__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container ul li {
  margin: 0 15px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar__container ul {
    display: none;
  }
}

.navbar__container--left {
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}

.navbar__container--left a:hover {
  color: #006241;
}

.navbar__container--right li:first-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container--right li:nth-child(2) {
  margin: 0 5px;
}

.navbar__container--right img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.navbar__container .hamburger {
  position: relative;
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  z-index: 1;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  display: none;
}

@media (max-width: 768px) {
  .navbar__container .hamburger {
    display: block;
  }
}

.navbar__container .hamburger__top, .navbar__container .hamburger__middle, .navbar__container .hamburger__bottom {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 2px;
  width: 24px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar__container .hamburger__middle {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.navbar__container .hamburger__bottom {
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.open .hamburger__top {
  -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
          transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .hamburger__middle {
  display: none;
}

.open .hamburger__bottom {
  -webkit-transform: rotate(-45deg) translateX(-6px) translateY(6px);
          transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

.box {
  margin-bottom: 30px;
}

@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.box__inner {
  max-width: 700px;
  margin: 0 auto;
}

.box__text {
  text-align: center;
  max-width: 500px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 20px 0;
  margin: 0 auto;
}

.box__text .btn {
  margin-top: 20px;
}

.box-f .box__text {
  max-width: 600px;
}

@media (min-width: 1200px) {
  .box-f .box__text {
    max-width: 550px;
  }
}

.grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .grid-col-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid-reversed :first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 768px) {
  .grid-reversed :first-child {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.divider {
  height: 1px;
  max-width: 1440px;
  background: #ccc;
  margin: 30px auto;
}

@media (max-width: 500px) {
  .footer {
    text-align: center;
  }
}

.footer__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px 30px;
}

.footer__container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.footer__container .social a {
  margin-right: 20px;
}

.footer__container .social img {
  height: 35px;
  width: 35px;
}

.mobile__menu {
  position: fixed;
  right: 0;
  background: #fff;
  height: 100%;
  width: 90%;
  padding: 30px;
  -webkit-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.1), inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.1), inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mobile__menu ul {
  line-height: 3;
  border-bottom: 2px solid #777;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.mobile__menu ul a {
  font-size: 20px;
  text-transform: capitalize;
}

.mobile__menu ul a:hover {
  color: #006241;
}

.mobile__menu--bottom div {
  margin-top: 20px;
}

.mobile__menu--bottom div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__menu--bottom div a img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.hidden {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */